h1.title{
  color:white;
}
p.center{
  text-align: center;
}
/*img.right{
  float:right;
}*/
section.headslide {
  height:60%;
}

img.center{
  display: block;
  margin: 0 auto;
}

img.space{
  margin-top: 4em;
}
img.poster{
  margin:4em  auto;
}
iframe.center{
  display: block;
  margin: 0 auto;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  margin-top:1em;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.self-head{
  font-size: 50em;
}
.self-sub{
  font-size: 2em;
}
h2.home{
  font-size: 5em!important;
}
p.project{
  font-family:
  font-weight: bolder;
  color:white;
}

li {
  font-size: .9em;
  line-height: 1.6em;
  font-family: "Inconsolata", sans-serif;
  color: #636161;
  /*margin: 10px 0 30px 0;*/
}

li.cargo {
  font-size: 1em;
  line-height: 1.6em;
  font-family: "Georgia", serif;
  color: #636161;
  /*margin: 10px 0 30px 0;*/
}
ul.cargo{

  padding-left: 2%;
}

.row{
  /* SL: override */
  /*margin-top:4em;*/
}

a.resume{
  color:white;
  font-weight: bold;
  background-color: rgb(102, 198, 175);
  border: rgb(102, 198, 175);
  border-radius: 5px;
  padding: 1%;
}
.resume{
  text-align: center;
}

ul.skillset{
  list-style: none;
}

h3.title{
  text-align: right;
  color:white;
}


  .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

  .rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

  .rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.nopadding{
  padding: 0%;

}

img.shadow{
  box-shadow: 2px 2px 5px grey;
}

img.spic{
  width: 30%;
}

img.sspic{
  width: 10%;
}
img.half{
  width: 50%;
}

.opacity{
  opacity: 0.8;
}
div.quote{
  padding-left: 10px;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: rgb(179, 130, 158);
}

span.emphasis, p.emphasis{
  font-weight: bold;
  color: black;
}
span.color{
  color:rgb(179, 130, 158);
}

span.superemphasis, p.superemphasis{
  font-weight: bold;
  color: #EF3D5C;
}

hr{
  border-style: none;
  height: 4px;
  background-color: rgb(179, 130, 158);
  width:15%;
}

hr.cargo{
  background-color: rgb(255, 200, 36);
}

#rq{
  font-size: 2em;
  color: rgb(191, 119, 10);
  font-weight: bold;
}

h3{
  font-weight: bold;
  margin-top: 3em;
  margin-bottom: 2em;
}

ul.content li{
font-size: 1em;
}

div.vline{

  padding: 0 10px;
  border-width: 0 1px;
  border-style: solid;
  border-color: rgb(181, 181, 181);

}

h1{
  margin-bottom: 0.5em;
  margin-top: 4em;
}

h3.first, h2.first, h1.first{
  margin-top: 0;
}

#reef_wireframe{
  margin-bottom: 4em;
}

#reef{
  border-style: none;
  height: 4px;
  background-color: rgba(90, 198, 208, 0.79);
  width:15%;
  margin-bottom: 2em;
}

h3.index-self-intro {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Georgia", serif;
  font-weight: normal;
  /*color: black !important;*/
}

span.index-self-intro{
  font-size: 1.2em;
  font-weight: bold;
  /*color: black !important;*/
}

h2 {
  margin-bottom: 30px;

}

img.slidermenu{
  width:50px;
  margin:3% 6% 3% 0;

}
#idividual{
  margin: auto 0;
}
h5.cargo{
  font-weight: bold;
  font-size: 1.2em;
}
