h1.title{
  color:white;
}
p.center{
  text-align: center;
}
/*img.right{
  float:right;
}*/
section.headslide {
  height:60%;
}

img.center{
  display: block;
  margin: 0 auto;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.self-head{
  font-size: 50em;
}
.self-sub{
  font-size: 2em;
}
h2.home{
  font-size: 5em!important;
}
p.project{
  font-family:
  font-weight: bolder;
  color:white;
}

li {
  font-size: .9em;
  line-height: 1.6em;
  font-family: "Inconsolata", sans-serif;
  color: #636161;
  /*margin: 10px 0 30px 0;*/
}


.row{
  margin-top:4em;
}

a.resume{
  color:white;
  font-weight: bold;
  background-color: rgb(102, 198, 175);
  border: rgb(102, 198, 175);
  border-radius: 5px;
  padding: 1%;
}
.resume{
  text-align: center;
}

ul.skillset{
  list-style: none;
}

h3.title{
  text-align: right;
  color:white;
}


  .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

  .rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

  .rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.nopadding{
  padding-top: 0%;
}

img.shadow{
  box-shadow: 2px 2px 5px grey;
}

img.spic{
  width: 30%;
}

img.sspic{
  width: 10%;
}

.opacity{
  opacity: 0.8;
}
div.quote{
  padding-left: 10px;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: rgb(179, 130, 158);
}

span.emphasis, p.emphasis{
  font-weight: bold;
}
span.color{
  color:rgb(179, 130, 158);
}

span.superemphasis, p.superemphasis{
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(182, 137, 21);
}

hr{
  border-style: none;
  height: 4px;
  background-color: rgb(179, 130, 158);
  width:15%;
}

#rq{
  font-size: 2em;
  color: rgb(191, 119, 10);
  font-weight: bold;
}

h3{
  font-weight: bold;
  margin-top: 4em;
  margin-bottom: 2em;
}

ul.content li{
font-size: 1em;
}

div.vline{

  padding: 0 10px;
  border-width: 0 1px;
  border-style: solid;
  border-color: rgb(181, 181, 181);

}

h1{
  margin-bottom: 1em;
  margin-top: 4em;
}
